
body * {
    box-sizing: border-box;
}

.site {
    width: 100%;
    height: 100%;
}

.topo {
    height: 56px;
    width: 100vw;
    border-bottom: 1px solid #DBDBDB;
    background-color: yellow;
}

.barra-de-stories {
    width: 100%;
    height: 121px;
    border-bottom:  1px solid #DBDBDB;
    background-color: blueviolet;
    margin-bottom: 10px;



}

.barra-de-stories > .moldura {
    width: 66px;
    height: 66px;
   

}

.barra-de-stories > .logos {
    width: 56px;
    height: 56px;
    border-radius: 50%;

}

.conteúdo {
    height: 900px;
    width: 100%;
    background-color: red;
}

.post {
    width: 100%;
    height: 749px;
    background-color: yellowgreen;
}

.cabeçalho-do-post {
    width: 100%;
    height: 60px;
    
}

div > img {
    width: 100%;
    height: 614px;
}
